<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml" lang="fr"><head> 
<meta http-equiv="Content-Type" content="text/html;  charset=utf-8"/>
<meta name="Author" content="Renaud GUEZENNEC"/>
<meta name="Keywords" content="<?php echo $keywords; ?>"/>
<meta name="Description" content="<?php echo $description; ?>"/>
<title></title>
<link rel="stylesheet" type="text/css" href="/include/css/oldlook.css" title="first" />
<link rel="alternate" type="application/rss+xml" title="fils de siecle Flux Rss" href="http://www.rolisteam.org/rss.html" />
<script type="text/javascript" src="/include/js/prototype.js"></script>
<script type="text/javascript" src="/include/js/lib.js"></script>
</head>
<body>

<div class="hidden">
<hr/>
<h1>Tenebrae</h1> 
Galerie des monstres
<hr/>
</div>
<div id="mainmenu"> 
	<ul>
		<?php echo $menu; ?>
	</ul>
</div>
<div id="leftcolumn">
<?php echo $leftcol;?>
</div>
<div id="central">
<?php echo $page; ?>
</div>
<div id="footer">
<?php echo $footer; ?>
</div>

</body>
</html>

