#top{width:900px; margin-left:auto;margin-right:auto;margin-top:25px; float: center;}
#img_top{position:absolute;top:30px;right:0%;z-index:-1;}
#rain{position:absolute;top:0;left:0;z-index:-3;}
#img_menu{position:relative;bottom:11px;left:-10px;}
#nova{position:absolute;margin-top:35px;margin-left:12%;width:88%;height:7px;background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/nova_bg.jpg) repeat-x right;z-index:-2;}
body{background:#000;font-family:Georgia, Times, serif;font-size:13px;color:#000000;margin-left:0px;}
#wrap{width:900px;min-height:600px;margin:auto;background:#FFF url(http://www.tenebrae-mundis.com/uploads/Tenebrae/bg2.png) repeat-y left;padding:0;}
p{line-height:19px;margin:0;padding:9px 0 9px 0;}
a{color:#07649a;text-decoration:none;}
a:hover{color:#022b65;text-decoration:none;}
h1{font-size:42px;font-family:Impact, Arial;color:#fff;margin:0;padding:0;line-height:34px;}
h1 a{color:#fff;}
h1 a:hover{text-decoration:none;color:#fff;}
h1 span{display:block;font-size:32px;padding:0 0 0 20px;}
h2{font-family:Georgia, Times, serif;font-size:24px;font-weight:normal;text-align:left;color:#022b65;margin:0;padding:0;}
h2{padding-left:27px;border-bottom:1px solid #000;}
h3{font-size:20px;color:#022b65;}
.post h2{background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/plume.png) no-repeat left bottom;}
.calendrier h2{background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/calendar.png) no-repeat left bottom;margin-bottom:10px;width:85%;}
.partenaires h2{background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/partner.png) no-repeat left bottom;margin-bottom:10px;width:85%;}
.CA h2{background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/info.png) no-repeat left bottom;margin-bottom:10px;width:85%;}
.Contact h2{background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/mail.png) no-repeat left bottom;margin-bottom:10px;width:85%;}
.separateur{height:18px;background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/bord.png) bottom no-repeat;padding:20px 0 40px 5px;width:97%;}
.post{width:98%;margin:0;padding:20px 0 40px 0px;float:left;background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/bord.png) bottom no-repeat;}
.maxpages{position:absolute;margin-top:5px;}
.news_bottom{width:98%;height:32px;float:left;text-align:center;word-spacing:4px;background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/news_bottom.png) center no-repeat;padding-top:8px;}
img{border:none;}
.info{font-size:10px;padding:0px 3px 3px 0;float:left;}
.text{text-align:justify;width:98%;margin:0 0 0 0;padding:0 0 0 0;float:left;}
.text ol{margin-top:15px;margin-bottom:15px;}
.text ul{margin:6px 15px 15px 0;padding:0;list-style:none;float:left;}
.text ul li{width:555px;margin:0 0 0px 22px;padding-left:20px;background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/pfeil_content.jpg) left 7px no-repeat;line-height:19px;float:left;}
.text ul li ul{margin:8px 0 0 0;padding:0;}
.text img{float:left;margin:3px 20px 10px 0;display:block;padding:2px;}
.field{width:350px;padding:4px;background:#e8f2ff;border:1px solid #afcaf2;}
.field-search{margin:0 6px 0 0;padding:4px;background:#f0f1f1;border:1px solid #b1b3b4;}
label{font-weight:bold;}
blockquote{margin:0;padding:0;font-family:"Times New Roman", Times, serif;font-size:16px;font-style:italic;line-height:19px;color:#5a5550;}
textarea, input{font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;font-size:12px;}
.submit{background:#646466;border:none;color:#fff;padding:4px 8px;cursor:pointer;}
.submit:hover{background:#022b65;border:none;color:#fff;padding:4px 8px;cursor:pointer;}
table{border:0;border-collapse:collapse;border-spacing:0;width:100%;margin:0 0 19px 0;padding:0;float:left;}
td{padding:7px 7px;}
thead td{background:#022b65;padding:10px 7px;color:#fff;}
tbody td{border-bottom:1px solid #afcaf2;}
tbody .blue td{background:#e8f2ff;}
#menu_vert{margin-top:13px;width:220px;}
.header{width:900px;height:220px;margin:auto;background-color:#FFFFFF;border-top:1px solid #EEE;border-bottom:1px solid #EEE;}
.clear{clear:both;}
.left_content{width:640px;float:left; height: auto; padding:3px 0 20px 20px;overflow:hidden;}
.right_content{width:200px;float:left;padding:20px 0 20px 20px;height:100%;}
.download{float:left;width:200px;}
.listen{float:left;width:auto;margin-right:40px;}
.calendrier{float:left;width:100%;}
.partenaires{float:left;margin-top:30px;width:100%;}
.CA{float:left;margin-bottom:30px;width:100%;}
.Contact{float:left;margin-top:30px;width:100%;}
#footer{width:900px;height:100px;margin:auto;padding:30px 0 0 0;text-align:center;background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/footer.png) no-repeat;color:#fff;}
#footer a{color:#fff;}
.author{font-size:10px;color:#a7a8aa;}
#footer p.author a{color:#a7a8aa;}
.box{width:260px;margin:25px 0 0 0;padding:0 0 0 30px;float:left;}
.box h3{margin:0;padding:0 0 3px 0;font-size:20px;font-family:"Times New Roman", Times, serif;font-weight:normal;color:#fff;border-bottom:1px solid #7d7d7e;}
.box ul{margin:0;padding:0;list-style:none;float:left;}
.box ul li{font-size:12px;margin:0;padding:0;line-height:17px;float:left;}
.box ul li a{width:230px;margin:0;padding:4px 0 4px 30px;background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/pfeil.png) left 10px no-repeat;color:#d9dadb;border-bottom:1px solid #7d7d7e;float:left;}
.box a:hover{background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/hover.png);color:#fff;text-decoration:none;}
#menu_horiz ul{list-style-type:none;width:900px;position:relative;display:block;height:33px;margin-left:auto;margin-right:auto;font-size:16px;font-weight:bold;font-family:Verdana,Helvetica,Arial,sans-serif;padding:0;}
#menu_horiz ul li{display:block;float:left;margin:0;padding:0;}
#menu_horiz ul li a{color:#A79787;text-decoration:none;height:24px;padding:9px 10px 0;}
#menu_horiz ul li a:hover, #menu_horiz ul .currentpage, #menu_horiz ul .menuactive{color:#fff;}
div#menu_horiz li.parent a span{padding-left:20px;background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/active.png) no-repeat 0.3em center;}
div#menu_horiz li.parent a:hover span{padding-left:20px;background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/parent.png) no-repeat 0.3em center;}
div#menu_horiz li.menuactive a span{padding-left:20px;background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/parent.png) no-repeat 0.3em center;}
div#menu_horiz li.currentpage a span{padding-left:20px;background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/arrow.png) no-repeat 0.3em center;}
#menuwrapper{width:98%;margin-left:0px;margin-bottom:30px;}
#menuwrapper h2{background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/navigation.png) no-repeat left bottom;}
#primary-nav, #primary-nav ul{list-style:none;margin:0px;padding:0px;width:100%;margin-left:1px;}
#primary-nav ul{position:absolute;top:5px;left:100%;display:none;}
#primary-nav ul ul{top:0px;}
#primary-nav li{margin-bottom:-1px;position:relative;padding:0px 0px 4px 0px;border-bottom:1px solid #EEE;}
#primary-nav li li{width:220px;padding:0px;background-image:none;}
ul#primary-nav li a{font-size:14px;font-weight:normal;color:#022b65;padding:0.8em 0.5em 0.5em 0.5em;display:block;text-decoration:none;}
ul#primary-nav a span{display:block;padding-left:1.5em;}
ul#primary-nav li a:hover{color:#899092}
ul#primary-nav li li a:hover{background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/darknav.png) repeat-x left center;color:#FFF}
ul#primary-nav li a.menuactive{color:#000;font-weight:bold;}
ul#primary-nav li li a.menuactive{color:#FFF;font-weight:normal;}
ul#primary-nav li ul a{text-align:left;margin:0px;position:relative;padding:6px 3px 6px 15px;font-weight:normal;color:#000;border-top:0 none;border-right:0 none;border-left:0 none;background:none;}
ul#primary-nav li ul{background:#F3F5F5;margin:-1px;padding:0px;position:absolute;width:auto;height:auto;display:none;position:absolute;z-index:999;border-top:1px solid #FFFFFF;border-bottom:1px solid #374B51;opacity:0.95;}
#primary-nav li, #primary-nav li.menuparent{min-height:1em;}
#primary-nav li li.menuactive, #primary-nav li.menuactive.menuparenth li.menuactive{background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/darknav.png) repeat-x left center;}
#primary-nav li.menuparent span{padding-left:1.5em;background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/active2.png) no-repeat left center;}
#primary-nav li.menuactive span{background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/parent2.png) no-repeat left center;}
#primary-nav li.menuparent span:hover{padding-left:1.5em;background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/parent2.png) no-repeat left center;}
#primary-nav li.menuparenth li.menuparent span, #primary-nav li.menuparenth li.menuparenth span{padding-left:0;background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/parent2.png) no-repeat right center;}
#primary-nav li.menuparenth span, #primary-nav li.menuparent:hover span, #primary-nav li.menuparent.menuactive span, #primary-nav li.menuparent.menuactiveh span,{background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/parent2.png) no-repeat left center;}
#primary-nav li li span, #primary-nav li.menuparent li span, #primary-nav li.menuparent:hover li span, #primary-nav li.menuparenth li span, #primary-nav li.menuparenth li.menuparenth li span, #primary-nav li.menuparent li.menuparent li span, #primary-nav li.menuparent li.menuparent:hover li span{background:none;padding-left:0px;}
#primary-nav li.menuh, #primary-nav li.mnuparenth, #primary-nav li.mnuactiveh{background:url(http://www.tenebrae-mundis.com/uploads/Tenebrae/libk.png) no-repeat right top;color:#899092}
#primary-nav li:hover li a{background:none;color:#000;}
#primary-nav ul, #primary-nav li:hover ul, #primary-nav li:hover ul ul, #primary-nav li.menuparenth ul, #primary-nav li.menuparenth ul ul{display:none;}
#primary-nav li:hover ul, #primary-nav ul li:hover ul, #primary-nav ul ul li:hover ul, #primary-nav li.menuparenth ul, #primary-nav ul li.menuparenth ul, #primary-nav ul ul li.menuparenth ul{display:block;}
#primary-nav li, #primary-nav li.menuparenth{_float:left;_height:1%;}
#primary-nav li a{_height:1%;}
#primary-nav li.sectionheader{border-left:1px solid #006699;border-top:1px solid #006699;font-size:130%;font-weight:bold;padding:1.5em 0 0.8em 0.5em;background-color:#fff;margin:0;width:100%;}
#primary-nav li hr.separator{display:block;height:0.5em;color:#abb0b6;background-color:#abb0b6;width:100%;border:0;margin:0;padding:0;border-top:1px solid #006699;border-right:1px solid #006699;}
